
/* @font-face {
    font-family: 'rift';
    src: url('./assets/fonts/rift-demi-webfont.otf') format("opentype");
} */

@font-face {
    font-family: 'pixel';
    src: url('/assets/fonts/SFPixelate.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pixel';
    src: url('/assets/fonts/SFPixelate-Bold.ttf') format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'pixel';
    src: url('/assets/fonts/SFPixelate-Oblique.ttf') format("opentype");
    font-weight: normal;
    font-style: oblique;
}
@font-face {
    font-family: 'pixel';
    src: url('/assets/fonts/SFPixelate-BoldOblique.ttf') format("opentype");
    font-weight: bold;
    font-style: oblique;
}